$dark_darkblue: #0f0f21;
$dark_lightblue: #47479c;
$dark_text: #9191da;
$dark_textlight: lighten($dark_text, 10);
$dark_green: #1c6c37;
$dark_greenalt: #567761;
$dark_red: #812c29;
$dark_redalt: #815858;
$dark_lightgrey: #afafc6;
$dark_darkgrey: #7b7b8e;
