@import '../style/_colors.scss';
@import '../style/_breakpoints.scss';
@import '../style/_vars.scss';

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  & > *:not(:last-child) {
    margin-bottom: 1em;
  }
  @media screen and (min-width: $sm) {
    flex-direction: row;
    width: 80%;
    max-width: 1400px;
    & > *:not(:last-child) {
      margin-bottom: 0;
    }
  }
  button.shorten {
    flex-basis: 100%;
    font-weight: bold;
    & > span::after {
      margin-left: 0.25em;
      content: 'Shorten';
    }
    @media screen and (min-width: $sm) {
      flex-basis: unset;
      flex: 0 0 auto;
      padding-left: calc(0.5em + 4px);
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      & > span::after {
        content: none;
      }
      &:hover {
        border-color: $dark_lightblue;
        background: $dark_lightblue;
      }
    }
  }
  &.fetching {
    input,
    button {
      border-color: $dark_darkgrey;
    }
    &.focused {
      input,
      button {
        border-color: lighten($dark_darkgrey, 10);
      }
      button.shorten {
        border-color: $dark_darkgrey;
        background: $dark_darkgrey;
        @media screen and (min-width: $sm) {
          &,
          &:hover {
            border-color: lighten($dark_darkgrey, 10);
            background: lighten($dark_darkgrey, 10);
          }
        }
      }
    }
    button.shorten {
      background: $dark_darkgrey;
      &:hover {
        border-color: lighten($dark_darkgrey, 10);
        background: lighten($dark_darkgrey, 10);
        @media screen and (min-width: $sm) {
          border-color: $dark_darkgrey;
          background: $dark_darkgrey;
        }
      }
    }
  }
}
.url-input-container {
  display: flex;
  flex-basis: 100%;
  input {
    flex-basis: 100%;
    height: 100%;
    border-radius: 0 $bradius-sm $bradius-sm 0;
    border-left: none;
    @media screen and (min-width: $sm) {
      border-radius: 0;
      border-right: none;
    }
  }
}
button.secure-toggle {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: normal;
}
